@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;600;700&display=swap");

* {
  font-family: "Prompt", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

$margin-tops: 70;
$margin-bottoms: 20, 40, 120;
$margin-y: 0, 40;
$margin-rights: 50;

@each $mt in $margin-tops {
  .mt-#{$mt} {
    margin-top: #{$mt}px;
  }
}

@each $mb in $margin-bottoms {
  .mb-#{$mb} {
    margin-bottom: #{$mb}px;
  }
}

@each $my in $margin-y {
  .my-#{$my} {
    margin-top: #{$my}px;
    margin-bottom: #{$my}px;
  }
}

@each $mr in $margin-rights {
  .mr-#{$mr} {
    margin-right: #{$mr}px;
  }
}

$padding-y: 20;
$padding-x: 60;

@each $py in $padding-y {
  .py-#{$py} {
    padding-top: #{$py}px;
    padding-bottom: #{$py}px;
  }
}

@each $px in $padding-x {
  .px-#{$px} {
    padding-left: #{$px}px;
    padding-right: #{$px}px;
  }
}

.align-self-start {
  align-self: flex-start;
}

.move-in-bottom {
  animation-name: moveInBottom;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}

.move-in-right {
  animation-name: moveInRight;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
